%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml

= content_for :bow do
  You can place components here
= content_for :stern do
  here
= content_for :port do
  or here
= content_for :starboard do
  even here